body {
  background-color: lightblue;
}
h1 {
  font-family: Arial, Gothic, Sans-Serif;
}
h2 {
  font-family: Arial, Gothic, Sans-serif;
}
.header {
  background-color:white;
  padding-left: 10px;
}
img {
  max-width: 100px;
  max-height: 150px;
}
.flair {
  float:right;
}
